@import 'vars';
	
	.ProductDetail {
		width: 360px;
		height: 100%;
		max-width: 360px;
		padding-bottom: 24px;
		position: absolute;
		right: 0;
		top: 70px;
		background: white;
		border-radius: 20px;
	}
	.ProductDetail-close {
		background: rgb(0, 0, 0);
		width: 14px;
		height: 14px;
		position: absolute;
		top: 12px;
		left: 12px;
		z-index: 2;
		padding: 12px;
		border-radius: 50%;
	}
	.ProductDetail-close:hover {
		cursor: pointer;
	}
	.ProductDetail-close > img:nth-child(1) {
		position: absolute;
		top: 5px;
		left: 5px;
		width: 14px
	}
	@media (max-width: 640px) {
		.ProductDetail {
			width: 100%;
		}
	}