
.main-container{
	margin-bottom: 20px;
}

.main-container h1{
	text-align: center;
}
.main-container .imagenTop{
	width: 100%;
	margin: auto;
}
.container-input{
	display: flex;
	justify-content: center;
}
.container-input input{
	height: 40px;
	width: 350px;
	padding: 8px;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 1px 5px 1px rgba($color: #174f9c, $alpha: 1.0);
}
.ProductList{
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 26px;
	place-content: center;
	margin: 45px 0 0 0;
}

@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}