

.MyOrder{
	width: 360px;
	padding: 24px;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 62px;
	background: white;
	height: 100vh;
	border-radius: 6px;
	border: 1px solid black;
	overflow-y: scroll;
	max-height: 600px;
	z-index: 1;

}
/*with scroolbar*/
.MyOrder::-webkit-scrollbar {
	width: 10px;
}
/* Track */
.MyOrder::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.MyOrder::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
.MyOrder::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.title-container {
	display: flex;
}
.title-container img {
	transform: rotate(180deg);
	margin-right: 14px;
}
.title-order {
	font-size: var(--lg);
	font-weight: bold;
}
.order {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 16px;
	align-items: center;
	background-color: var(--text-input-field);
	margin-bottom: 24px;
	border-radius: 8px;
	padding: 0 24px;
}
.order p:nth-child(1) {
	display: flex;
	flex-direction: column;
}
.order p span:nth-child(1) {
	font-size: var(--md);
	font-weight: bold;
}
.order p:nth-child(2) {
	text-align: end;
	font-weight: bold;
}

.orders{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #73CDE6;
	text-decoration: none;
	border-radius: 8px;
	padding: 0 80px;
	border: none;
	color: var(--white);
	width:100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
	color: white;
	transition: all 0.5s;
}
.orders:hover{
	background: #628D99;
}

@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}