// @import 'vars' from;

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-ligth-pink);
    position: fixed;
    background: white;
    top: 0;
    width: 100%;
}
.menu{
    display: none;
}
.nav-logo{
    width: 80px;
}
.navbar-left ul,
.navbar-rigth ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar-left{
    display: flex;
    margin-left: 12px;
}
.navbar-left ul{
    margin-left: 50px;
}

.navbar-left ul li a,
.navbar-rigth ul li a{
    text-decoration: none;
    color: var(--very-ligth-pink);
    border: 1px solid var(--white);
    padding: 8px 12px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-rigth ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.navbar-email{
    color: var(--black);
    font-size: var(--sm);
    margin-right: 6px;
    font-weight: 300;
    cursor: pointer;
}
.navbar-shoping-card{
    position: relative;
}
.navbar-shoping-card div{
    width: 12px;
    height: 12px;
    background: var(--hospital-green);
    font-size: var(--sm);
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    right:-6px;
    top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.navbar-rigth .email-arrow{
    padding: 0;
    transform: rotate(90deg);
    margin-right: 30px;
    width: 6px;
}

@media (max-width: 640px) {
    .menu{
        display: block;
    }
    .navbar-left ul{
        display:none;
    }
    .navbar-email{
        display: none;
    }
    .navbar-rigth .email-arrow{
        display: none;
    }
}