

.ProductItem {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 1px 1px 5px 1px rgba($color: #000000, $alpha: 1.0);
	border-radius: 20px;
	padding: 8px;
}
.ProductItem img {
	width: 230px;
	height: 230px;
	border-radius: 20px;
	object-fit: cover;
	transition: all 0.5s;
}
.ProductItem img:hover {
	transform: scale(1.05);
}
.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
}
.product-info:hover {
	color: #628D99;
	cursor: pointer;
}
.product-info figure {
	margin: 0;
}
.product-info figure img {
	width: 35px;
	height: 35px;
	transition: all .5s;
}
.product-info figure img:hover {
	transform: scale(1.2);
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--md);
	margin-top: 0;
	margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}
@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
}